{% extends 'bootstrap/base.html' %}

{% block title %}
{% if title %}{{ title }} - Vehicle Management System{% else %}Welcome to Vehicle Management System{% endif %}
{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='style.css')}}">
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand">Vehicle Management System</p>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                {% else %}
                {%if current_user.role == 0 %}
                <li><a href="{{ url_for('buyer') }}">{{current_user.username.title()}}</a></li>
                {%elif current_user.role == 1%}
                <li><a href="{{ url_for('manufacturer') }}">{{current_user.username.title()}}</a></li>
                {%else%}
                <li><a href="{{ url_for('inspector') }}">{{current_user.username.title()}}</a></li>
                {%endif%}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% endblock %}

{% block content %}
<div class="container content-box">
    <div class="col-md-6">
        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            {# application content needs to be provided in the app_content block #}
            {% block app_content %}{% endblock %}
        </div>
    </div>
</div>


{% endblock %}
{% block scripts %}
    {{super()}}
    <script src="{{url_for('static', filename='order_vehicle.js')}}"></script>
{% endblock %}