{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h3>Hi, {{ current_user.username.title() }}!</h3>
<a class="btn btn-primary" role="button" href="{{ url_for('order') }}">Order New Vehicle</a>
{% if orders %}
<h1>All Ordered Items</h1>
<ul>

    {% for order in orders %}
    <h2>Order</h2>


    <li>Brand: {{ order['manufacturer']}}</li>
    <li>Model: {{ order['model']}}</li>
    <li>Color: {{ order['color']}}</li>
    <li>Order Time: {{ order['time']}}</li>
    <li>Inspector Assigned: {{ order['inspector']}}</li>
    <li>Vehicle Number: {{ order['vehicle_number']}}</li>
    <li>Current Status: {{ order['status']}}</li>

    <br/>
    <form class="form form-horizontal" role="form" action="/buyer/order/{{ loop.index }}" method="post">
        {{ form1.hidden_tag() }}
        {{ wtf.form_errors(form1, hiddens="only") }}
        {{ wtf.form_field(form1.submit1) }}
    </form>
    <hr/>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}