{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h2>Order</h2>
<li>Buyer Name: {{ order['buyer'] }}</li>
<li>Buyer Address: {{ order['address'] }}</li>
<li>Brand: {{ order['manufacturer']}}</li>
<li>Model: {{ order['model']}}</li>
<li>Color: {{ order['color']}}</li>
<li>Order Time: {{ order['time']}}</li>
<li>Inspector Assigned: {{ order['inspector']}}</li>
<li>Vehicle Number: {{ order['vehicle_number']}}</li>
<li>Current Status: {{ order['status']}}</li>
{% if order['statuses'] %}
<li>Order updates:</li>
<ul>
    {% for status in order['statuses'] %}
    <li>{{status.timestamp.strftime('%r, %d-%m-%Y')}} = {{status.text}}</li>
    {%endfor%}
</ul>
{%endif%}
<br/>
<div class="row">
    <div class="col-md-4">
        <form class="form form-horizontal" role="form" action="" method="post">
            {{ form1.hidden_tag() }}
            {{ wtf.form_errors(form1, hiddens="only") }}

            {% if order['status'] == 'Delivered'%}
            {{ wtf.form_field(form1.users) }}
            {{ wtf.form_field(form1.submit) }}
            {% else %}
            {{ wtf.form_field(form1.submit, disabled=True) }}
            {%endif%}
        </form>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-4">
        <form class="form form-horizontal" role="form" action="" method="post">
            {{ form2.hidden_tag() }}
            {{ wtf.form_errors(form2, hiddens="only") }}

            {% if order['status'] == 'Delivered' or order['status'] == 'Scrapped' %}
            {{ wtf.form_field(form2.submit2, disabled=True) }}
            {% else %}
            {{ wtf.form_field(form2.submit2) }}
            {%endif%}
        </form>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-4">
        <form class="form form-horizontal" role="form" action="" method="post">
            {{ form3.hidden_tag() }}
            {{ wtf.form_errors(form3, hiddens="only") }}

            {% if order['status'] == 'Delivered' %}
            {{ wtf.form_field(form3.submit3) }}
            {% else %}
            {{ wtf.form_field(form3.submit3, disabled=True) }}
            {%endif%}
        </form>
    </div>
</div>

<hr/>
{% endblock %}