{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h2>Order</h2>
<li>Buyer Name: {{ order['buyer'] }}</li>
<li>Buyer Address: {{ order['address'] }}</li>
<li>Brand: {{ order['manufacturer']}}</li>
<li>Model: {{ order['model']}}</li>
<li>Color: {{ order['color']}}</li>
<li>Order Time: {{ order['time']}}</li>
<li>Inspector Assigned: {{ order['inspector']}}</li>
<li>Vehicle Number: {{ order['vehicle_number']}}</li>
<li>Current Status: {{ order['status']}}</li>

<br/>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form1) }}
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form2) }}
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form3) }}
    </div>
</div>



<hr/>
{% endblock %}