{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Hi, {{ current_user.username.title() }}!</h1>

<a class="btn btn-primary" role="button" href="{{ url_for('add_vehicles') }}">Add new Vehicles</a>

{% if orders %}
<h2 class="medium">All Orders</h2>
<ul>

    {% for order in orders %}

    <li>Buyer Name: {{ order['buyer'] }}</li>
    <li>Buyer Address: {{ order['address'] }}</li>
    <li>Brand: {{ order['manufacturer']}}</li>
    <li>Model: {{ order['model']}}</li>
    <li>Color: {{ order['color']}}</li>
    <li>Order Time: {{ order['time']}}</li>
    <li>Inspector Assigned: {{ order['inspector']}}</li>
    <li>Vehicle Number: {{ order['vehicle_number']}}</li>
    <li>Current Status: {{ order['status']}}</li>

    <br/>
    <form class="form form-horizontal" role="form" action="/manufacturer/order/{{ loop.index }}" method="post">
        {{ form1.hidden_tag() }}
        {{ wtf.form_errors(form1, hiddens="only") }}
        {{ wtf.form_field(form1.submit1) }}
    </form>

    <hr/>
    {% endfor %}
</ul>

{% else %}
<h2>No Orders found</h2>
{% endif %}
{% endblock %}