{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h2>Order</h2>
<li>Buyer Name: {{ order['buyer'] }}</li>
<li>Buyer Address: {{ order['address'] }}</li>
<li>Brand: {{ order['manufacturer']}}</li>
<li>Model: {{ order['model']}}</li>
<li>Color: {{ order['color']}}</li>
<li>Order Time: {{ order['time']}}</li>
<li>Inspector Assigned: {{ order['inspector']}}</li>
<li>Vehicle Number: {{ order['vehicle_number']}}</li>
<li>Current Status: {{ order['status']}}</li>

<br/>
<form class="form form-horizontal" role="form" action="" method="post">
    {{ form1.hidden_tag() }}
    {{ wtf.form_errors(form1, hiddens="only") }}
    {% if order['status'] == 'Sent for Inspection' or order['status'] == 'Order cancelled' or order['status'] == 'Delivered' or order['status'] == 'Scrapped' %}
    {{ wtf.form_field(form1.submit3, disabled=True) }}
    {% else %}
    <p>{{ wtf.form_field(form1.submit3) }}</p>
    {%endif%}
</form>

<br/>
<form class="form form-horizontal" role="form" action="" method="post">
    {{ form2.hidden_tag() }}
    {{ wtf.form_errors(form2, hiddens="only") }}
    {% if order['status'] == 'Order cancelled' or order['status'] == 'Delivered' or order['status'] == 'Scrapped' %}
    {{ wtf.form_field(form2.submit2, disabled=True) }}
    {% else %}
    <p>{{ wtf.form_field(form2.submit2) }}</p>
    {%endif%}
</form>

<hr/>
{% endblock %}